<Html>
<head>
    <title>Total Amount</title>
    <h1 style="text-align: center">Payable & Receivable</h1>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }

    tr {
        text-align: center;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Remarks</th>
        <th>Pay</th>
        <th>Receive</th>
    </tr>
    </thead>
    <tbody>
    {% for q in queryset %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ q.group }}</td>
            <td>{{ q.remarks }}</td>
            <td>{% if q.pay_receive == 'Pay' %}{{ q.amount }}{% else %}-{% endif %}</td>
            <td>{% if q.pay_receive == 'Receive' %}{{ q.amount }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="footer">
    <p>{% now 'Y-m-d' %}</p>
</div>
</body>
</html>